@charset 'UTF-8';

/*cores
ordem do mais forte para o mais fraco
cor1 = #051661
cor2 = #222D61
cor3 = #0927AD
cor4 = #0C33E0
cor5 = #506CE6
*/
*{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #222d61;
    height: 200px;
    margin: -10px;
}


header > span{
    display: inline-flex;
}
header > span > div{
    padding-left: 50px;
}

header > span > div > img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 5px solid rgba(22, 6, 114, 0.479);
    box-shadow: 2px 2px 5px black;
}
